# build artifacts/things not ready yet (cmake configuration for versioning etc)
build/
cmake/

# environment files
.vs*/
.github/
.cache/

# scratch work/local-test-results
artifacts/
wip/

# non-public sandboxes
development-drivers/pbrt

# configuration files
dev-*.toml
*-log-failure.log