# build artifacts/things not ready yet (cmake configuration for versioning etc)
build/
logs/
docs/
*/logs/*
other_test_results.*.xml
bin/
obj/

#only for local testing linux builds
dockerfile

# environment files
.vs*/
.cache/
# testing ai (gross), don't share
.github/*.md
.github/prompts/

# scratch work/local-test-results
artifacts/
wip/
analysis/
scratch/
code-generator/
*.svg
*.d2

#large local development files
spacesim/
resources/models/
# this is really large, don't have a better way to do this yet
tests/resources/models/NewSponza_Curtains_FBX_YUP_fbx7binary.fbx
tests/resources/models/NewSponza_Curtains_FBX_YUP_fbx7binary.omesh

# non-public sandboxes
development-drivers/pbrt

# configuration files
*-log-failure.log


----- required dependencies -----
----- must find way to get to client bc too large to push to git -----
# python scripting not implemented yet, solve this problem when it is
extern/python312/DLLs
extern/python312/include
extern/python312/Lib
extern/physx