# build artifacts/things not ready yet (cmake configuration for versioning etc)
build/
cmake/

# environment files
.vs*/
.github/
.cache/

# scratch work/local-test-results
artifacts/
wip/
analysis/
scratch/

#large local development files
resources/models/

# non-public sandboxes
development-drivers/pbrt

# configuration files
dev-*.toml
*-test-*.toml
*-log-failure.log

# otherfiles
*.fbx

----- required dependencies -----
----- must find way to get to client bc too large to push to git -----
assimp-vc143-mtd.lib
assimp-vc143-mt.lib
assimp-vc143-mtd.pdb
assimp-vc143-mt.pdb
assimp-vc143-mtd.exp
assimp-vc143-mt.exp